*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*********************** Start heder Section **************************/
header{
    background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0,0,0,0.4)), url("../images/heder.jpg");
    height: 450px;
    background-size: cover;
    text-align: center;
}
.header-2{
    background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0,0,0,0.4)), url("../images/heder.jpg");
    height: 100px;
    background-size: cover;
    text-align: center;
}
.logo{
    color: #fff;
    font-family: 'Yesteryear', cursive;
    font-size: 40px;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
}
.nav-menu{
    list-style: none;
    color: #fff;
}
.nav-menu li{
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}
.nav-menu li a{
    text-decoration: none;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    transition: color 0.2s ease-in-out;
}
.nav-menu li a:hover{
    color: #F2AC32;
}
.header-title-1{
    color: #f2ac32;
    font-size: 24px;
    font-family: 'Rochester', cursive;
    margin-top: 100px;
    margin-bottom: 25px;
}
.header-title-2{
    color: #fff;
    font-size: 55px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 3px;
    margin-bottom: 30px;
}
.header-cta-button {
    color: white;
    background-color: #F2AC32;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
}
.header-cta-button:hover{
    background-color: rgb(165, 147, 105);
}
.search{
    margin-left: 20px;
    margin-right: 20px;
}
.my-bag{
    font-size: 26px; 
}
/*********************** End header Section **************************/


/*********************** Start Box Section **************************/

.box-section{
    background-color: #f0efef;
    display: flex;
    justify-content: center;
    padding: 100px;
}
.box{
    height: 400px;
    width: 270px;
    margin-left: 70px;
    margin-right: 70px;
    text-align: center;
    box-shadow: -3px -3px 14px 8px rgba(0,0,0,0.54);
    -webkit-box-shadow: -3px -3px 14px 8px rgba(0,0,0,0.54);
    -moz-box-shadow: -3px -3px 14px 8px rgba(0,0,0,0.54);
}
.box-header-stu{
    position: relative;
    background-color: #fff;
    padding: 10px 10px 0px 10px;
    width: 100%;
    height: 40%;
    background: linear-gradient(rgba(14, 6, 6, 0.7),rgba(63, 58, 58, 0.4)),
    url("../images/student.jpg");
    background-size: cover;
}
.box-header-tea{
    position: relative;
    background-color: #fff;
    padding: 10px 10px 0px 10px;
    width: 100%;
    height: 40%;
    background: linear-gradient(rgba(14, 6, 6, 0.7),rgba(63, 58, 58, 0.4)),
    url("../images/teacher.jpg");
    background-size: cover;
}
.box-h1{
    font-family: 'Rochester', cursive;
    color: #F2AC32;
    margin-bottom: 10px;
}
.box-body{
    position: relative;
    background-color: #fff;
    padding: 10px 10px 0px 10px;
    width: 100%;
    height: 198px;
}
.box-body-h1{
    font-family: 'Oswald', sans-serif;
    color: #3a3733;
    margin-bottom: 20px;
    text-align: left;
    padding-left: 10px;
}
.box-body a{
    font-size: 16px;
    text-decoration: none;
    color: #5c4c30;
    font-family: 'Oswald', sans-serif;
    display: flex;
    padding-left: 10px;
    transition: color 0.3s ease-in;
}
.box-body a:hover{
    color: #f2ac32;
}
.box-body button:hover{
    color: #f2ac32;
}
.box-body button{
    font-size: 16px;
    border: none;
    color: #5c4c30;
    font-family: 'Oswald', sans-serif;
    display: flex;
    padding-left: 10px;
    transition: color 0.3s ease-in;
    background-color: transparent;
    margin-bottom: 11px;
    transition: color 0.3s ease-in;
}
.box-footer{
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 10%;
    display: flex;
    border-top: 3px solid #f0efef;
}
.box-btn{
    justify-content: center;
    width: 100%;
    margin-top: 4px;
}
.box-btn a{
    font-size: 16px;
    text-decoration: none;
    color: #F2AC32;
    font-family: 'Oswald', sans-serif;
}
.box-btn button{
    font-size: 16px;
    color: #F2AC32;
    font-family: 'Oswald', sans-serif;
    border: none;
    background: none;
}
.box p{
    color: rgb(158, 158, 158);
    font-size: 16px;
    margin-bottom: 20px;
}
/*********************** End Box Section **************************/

/*********************** Start Test Section **************************/

.test-section{
    text-align: center;
    background-color: #f0f0f0;
    padding: 50px;
}
.test-section-quiz{
    text-align: center;
    background-color: #f0f0f0;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
}
.test-h1{
    font-family: 'Rochester', cursive;
    color: #f2ac32;
    margin-bottom: 15px;
    font-size: 40px;
}
.test-h2{
    color: black;
    margin-bottom: 50px;
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    letter-spacing: 2px;
}
.test-container{
    width: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.test-col{
    width: 300px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}
.test-header{
    position: relative;
    background-color: #fff;
    padding: 10px 10px 0px 10px;
    width: 100%;
    height: 40%;
    background: linear-gradient(rgba(8, 8, 8, 0.7),rgba(63, 58, 58, 0.4)),
    url("../images/test-header.jpg");
    background-size: cover;
}

.test-header-h1{
    font-family: 'Oswald', sans-serif;
    color: #e6d2b8;
    margin-bottom: 20px;
    text-align: left;
    padding-left: 10px;
}
.test-header-h3{
    font-family: 'Oswald', sans-serif;
    color: #dfb17c;
    margin-bottom: 5px;
    text-align: left;
    padding-left: 30px;
}
.box-quiz{
    height: 400px;
    width: 270px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    box-shadow: -3px -3px 14px 8px rgba(0,0,0,0.54);
    -webkit-box-shadow: -3px -3px 14px 8px rgba(0,0,0,0.54);
    -moz-box-shadow: -3px -3px 14px 8px rgba(0,0,0,0.54);
}

/*********************** End Test Section **************************/



/*********************** Start Footer Section **************************/

footer{
    padding: 60px 0;
    padding-bottom: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0,0,0,0.65)), url(../images/footer1.jpg);
    background-size: cover;
    background-position: center;
    color: #f0efef;
}
.footer-row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.footer-col{
    margin: 30px 60px;
}
.footer-title{
    font-family: 'Oswald', sans-serif;
    color: #f2ac32;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 16px;
}
.footer-text{
    font-family: 'Oswald', sans-serif;
    margin-bottom: 10px;
    font-size: 12px;
}
.copyright{
    padding: 40px;
    color: #f0f0f0;
    font-size: 14px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    border-top: 1px solid rgba(216, 216, 216, 0.418);
}
.copyright-name{
    color: #f2ac32;
}

/*********************** End Footer Section **************************/


.bg-modal-stu{
    width: 100%;
    height: 100%;
    background-color: rgba(78, 54, 54, 0.7);
    position: absolute;
    top: 0;
    justify-content: center;
    align-items: center;
    display: none;
}
.bg-modal-tea{
    width: 100%;
    height: 100%;
    background-color: rgba(78, 54, 54, 0.7);
    position: absolute;
    top: 0;
    justify-content: center;
    align-items: center;
    display: none;
}
.bg-modal-SignUp-stu{
    width: 100%;
    height: 100%;
    background-color: rgba(78, 54, 54, 0.7);
    position: absolute;
    top: 0;
    justify-content: center;
    align-items: center;
    display: none;
}
.bg-modal-SignUp-tea{
    width: 100%;
    height: 100%;
    background-color: rgba(78, 54, 54, 0.7);
    position: absolute;
    top: 0;
    justify-content: center;
    align-items: center;
    display: none;
}
.modal-content{
    width: 300px;
    height: 300px;
    background-color: rgba(228, 203, 203, 0.7);
    opacity: 1;
    border: 2px solid rgba(95, 64, 64, 0.7);
    border-radius: 8px;
    text-align: center;
    padding: 20px;
    position: relative;
}
.modal-content-signup{
    width: 300px;
    height: 550px;
    background-color: rgba(228, 203, 203, 0.7);
    opacity: 1;
    border: 2px solid rgba(95, 64, 64, 0.7);
    border-radius: 8px;
    text-align: center;
    padding: 20px;
    position: relative;
}
input{
    width: 50%;
    display: block;
    margin: 15px auto;
}
.close-stu{
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}
.close-tea{
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}
.close-signup-stu{
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}
.close-signup-tea{
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}
.fa-user-circle{
    font-size: 100px;
}

.form-pop input{
    height: 35px;
    width: 200px;
    border: 2px solid rgba(255, 174, 0, 0.911);
    background-color: rgba(228, 203, 203, 0.7);
    border-radius: 45px;
    padding: 8px;

}
.form-pop input:focus {
    outline: none;
    border: 1px solid #fd4801;
    color: #111111;
}
.sub-btn{
    height: 35px;
    width: 100px;
    border: 2px solid rgba(95, 64, 64, 0.7);
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: white;
    background-color: #f2ac32;
    border-radius: 45px;
    transition: all 0.4s ease-in-out;
    display: inline-block;
    cursor: pointer;
}
.sub-btn:hover{
    background-color: rgb(165, 147, 105);
}


/*********************** Start Quiz Section **************************/

.quiz{
    width: 100%;
    height: 300px;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.quiz-col{
    padding: 20px;
    width: 250px;
    padding: 20px;
}
.quiz-h2{
    font-family: 'Oswald', sans-serif;
    color: #f2ac32;
    margin-bottom: 30px;
    font-weight: 200;
    font-size: 16px;
    text-align: center;
    letter-spacing: 2px;
}
.quiz-sub{
    font-family: 'Oswald', sans-serif;
    margin-bottom: 15px;
    font-weight: 100;
    font-size: 14px;
    display: grid;  
}
.quiz-sub input{
    margin-bottom: 3px;
    margin-left: 104px;
    font-weight: 100;
    font-size: 14px;
    margin-top: -18px;
    padding: 1px 5px;
}
.quiz-button{
    display: flex;
    justify-content: flex-end;
}
.quiz-button button{
    color: white;
    background-color: #f2ac32;
    border-radius: 20px;
    padding: revert;
    font-family: 'Oswald', sans-serif;
}

/*********************** End Quiz Section **************************/
/*********************** Start Teacher Quiz Section **************************/
.teacher-head{
    color: rgb(99, 20, 20);
    margin-bottom: 50px;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    letter-spacing: 3px;
}


/*********************** End Teacher Quiz Section **************************/

/*********************** Start create Qestion Section **************************/
.bg-create-qestion{
    width: 100%;
    height: 100%;
    background-color: rgba(78, 54, 54, 0.7);
    position: absolute;
    top: 0;
    justify-content: center;
    align-items: center;
    display: none;
}
.close-create-q{
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
    color: red;
}
.teacher-q-container{
    width: 680px;
    height: 650px;
    background-color: rgba(228, 203, 203, 0.7);
    opacity: 1;
    border: 2px solid rgba(95, 64, 64, 0.7);
    border-radius: 8px;
    text-align: center;
    padding: 20px;
    position: relative;
}
.test-header-teach-q{
    padding: 10px 10px 10px 10px;
    width: 100%;
    height: 70px;
    margin-top: 5px;
    margin-bottom: 2px;
    border-radius: 10px;
    background-color: white;
    display: flex;
}
.close-ques-head{
    top: 0;
    right: 14px;
    font-size: 28px;
    transform: rotate(45deg);
    cursor: pointer;
    color: black;
    margin-left: 425px;
    margin-top: -33px;
    background-color: transparent;
    border: none;
}
.test-header-h1{
    color: #f2ac32;
    letter-spacing: 2px;
}
.teach-q-body{
    background-color: #fff;
    padding: 20px 10px 10px 10px;
    width: 100%;
    height: 430px;
    border-radius: 10px;
    margin-bottom: 30px;
}
.scroll-box{
    overflow: auto;
    width: 100%;
    height: 530px;
    padding: 0 10px 0 10px;
}
.teach-q-footer{
    background-color: #fff;
    padding: 0 10px 10px 10px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    margin-top: 2px
}
.teach-q-w{
    width: 100%;
    display: flex;
    padding: 3px;
    margin-left: 10px;
}
.teach-question textarea{
    border-radius: 8px;
    display: flex;
    margin-left: 10px;
    padding: 10px;
    margin-bottom: 20px;
}
.teach-ans{
    display: flex;
    width: 100%;
    margin-left: 30px;
}
.teach-ans label{
    width: 120px;
    display: flex;
    padding-top: 10px;
}
.teach-ans textarea{
    border-radius: 8px;
    display: flex;
    margin-left: 10px;
    padding: 10px;
    margin-bottom: 10px;
}
.teach-ans input{
    width: 100px;
    display: flex;
    padding-top: 10px;
    margin-left: 10px;
    margin-right: 70px;
}
.q-btn{
    margin-top: 10px;
    font-size: 16px;
    background-color: white;
    color: #F2AC32;
    font-family: 'Oswald', sans-serif;
    border: none;
}

/*********************** End create Qestion Section **************************/


/*********************** Start View result Section **************************/
.bg-create-result{
    width: 100%;
    height: 100%;
    background-color: rgba(146, 137, 137, 0.3);
    justify-content: center;
    position: relative;
    align-items: center;
    display: flex;
}
.close-create-aa{
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
    color: red;
}
.teacher-a-container{
    width: 750px;
    height: 650px;
    background-color: rgba(228, 203, 203, 0.7);
    opacity: 1;
    border: 2px solid rgba(95, 64, 64, 0.7);
    border-radius: 8px;
    text-align: center;
    padding: 15px;
    position: relative;
}
.test-header-teach-aa{
    padding: 10px 10px 10px 10px;
    width: 100%;
    height: 70px;
    margin-bottom: 2px;
    border-radius: 10px;
    background-color: white;
    display: flex;
}
.test-header-h1a{
    color: #f2ac32;
    letter-spacing: 2px;
}
.teach-a-body{
    background-color: #fff;
    padding: 20px 10px 10px 10px;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    display: inline-flex;
    justify-content: center;
}
.scroll-box-a{
    overflow: auto;
    width: 100%;
    height: 100%;
    padding: 5px;
    border-radius: 10px;
}
.result-container{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 15px;
}
.box-quiz-a{
    height: 200px;
    width: 270px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    box-shadow: -3px -3px 14px 8px rgba(0,0,0,0.54);
    -webkit-box-shadow: -3px -3px 14px 8px rgba(0,0,0,0.54);
    -moz-box-shadow: -3px -3px 14px 8px rgba(0,0,0,0.54);
}

/*********************** End View result Section **************************/

/*********************** Start answer paper Section **************************/

.bg-create-startTest{
    width: 100%;
    height: 100%;
    background-color: #bdb7b7;
    position: relative;
    top: 0;
    justify-content: center;
    align-items: center;
    display: flex;
}
.student-q{
    width: 550px;
    display: flex;
    padding: 3px;
    margin-left: 30px;
    text-align: left;
    margin-bottom: 30px;
}
.stu-ans{
    display: flex;
    width: 550px;
    margin-left: 30px;
    margin-bottom: 20px;
}
.stu-answer-label-no{
    padding: 5px;
    display: flex;
}
.stu-answer-label-c{
    width: 100px;
    padding: 7px;
    display: flex;
}
.stu-answer-label-q{
    display: flex;
    text-align: left;
    padding: 5px 10px;
}
.stu-answer-input{
    display: flex;
    margin: initial;
}
.stu-ans-currect{
    border-bottom: 5px solid #72b972;
}
.stu-ans-wrong{
    border-bottom: 5px solid #fd4801;
}
/*********************** End answer paper Section **************************/
